<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Testing template</title>
</head>
<body>
  <!-- Loop through every item in the data list -->
  {% for item in data %} 
  <div>
    <!-- Find the type of data contained, then pass it through the readfile filter, and then the markup converting filter. -->
    {% if item.type == 'mkd' %}
        {{ item.name | readfile | mkd }}
    {% elif item.type == 'rst' %}
        {{ item.name | readfile | rst }}
    {% elif item.type == 'raw' %}
        {{ item.name | readfile }}
    {% endif %}
  </div>
  {% endfor %}
</body>
</html>
